export TUMBLR_CONSUMER_KEY=""
export TUMBLR_CONSUMER_SECRET=""
export TUMBLR_OAUTH_TOKEN=""
export TUMBLR_OAUTH_SECRET=""
export TUMBLR_BLOG_NAME=""
export TWITTER_CONSUMER_KEY=""
export TWITTER_CONSUMER_SECRET=""
export TWITTER_OAUTH_KEY=""
export TWITTER_OAUTH_SECRET=""
